*.vcd
*.log
*.out
*.jou
*.wdb
*.vstf
*.wcfg
*.xml
*.xmsgs
*.tcl

*.ngc
*.ngr
*.ncd
*.bit
*.rbt
*.bin
*.dcp
*.bgn
*.bsc
*.bxml
*.bdef
*.lso
*.rpt
*.syr
*.pwr
*.mrp
*.par
*.pad
*.sdf
*.jed
*.prm
*.isd
*.ngd
*.ngm
*.pcf
*.mcs
*.csv
*.html
*.ltx

.project
*.log
*.str
*.cmd
*.wlf
*.ini
*.pf
*.bak
*.restore
*.backup
*.jou
*.zip
*.gz
*.tar
*.tgz
*.bgn
*.diff
*.patch
*.xrf
*.svf
*.ucf
*.twr
*.xrpt
*.ltx
*.ut
*.vstf

*~
*.swp
*.swo
*.tmp

*.exe
*.dll
*.obj
*.o
*.elf
*.so
*.a
*.bin
*.dat

.DS_Store
Thumbs.db
ehthumbs.db

*.pyc
__pycache__/

.vscode/
.idea/
*.iml
*.ipr
*.iws

*.sim

user_config.tcl

db/
incremental_db/
output_files/
simulation/